* {
  font-family: poppins, verdana;
}
body {
  background-color: rgb(21, 21, 21);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    height: 250px;
    width: 300px;
    padding: 20px 10px;
    background-color: rgb(58, 65, 59);
    // border: 2px solid white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    position: relative;

    .wlcm {
      align-self: self-start;
      margin: 0;
      margin-left: 25px;
      margin-bottom: 25px;
      font-size: 18px;
      color: rgb(255, 255, 255);
    }
    .wlcm::before {
      content: "";
      height: 3px;
      width: 50px;
      border-radius: 2px;
      background-image: linear-gradient(90deg, green, purple, red);
      position: absolute;
      bottom: 242px;
      left: 35px;
    }

    .up {
      display: flex;
      justify-content: center;
      column-gap: 10px;
      .inpWord {
        outline: none;
        padding: 5px;
        border: none;
        border-bottom: 2px solid rgb(29, 29, 29);
        background-color: transparent;
        color: white;
      }
      .inpWord::placeholder {
        color: rgb(165, 181, 168);
      }
      .btn {
        border: none;
        border-radius: 15px;
        background-color: rgb(9, 9, 9);
        font-size: 12px;
        font-weight: 700;
        padding: 8px;
        color: rgb(255, 255, 255);
      }
      .btn:hover {
        background-color: rgb(211, 251, 217);
      }
    }
    .head {
      align-self: self-start;
      margin: 10px 0 10px 25px;
      font-size: 16px;
      margin-bottom: 10px;
      color: rgb(218, 243, 221);
    }
    .def {
      align-self: self-start;
      margin: 0;
      margin-left: 25px;
      color: rgb(14, 101, 20);
      font-size: 16px;
      font-weight: 500;
      font-style: italic;
      overflow-y: auto;
      word-wrap: break-word;
    }
  }
  .container::before {
    content: "";
    height: 102%;
    width: 102%;
    border-radius: 30px;
    background-color: red;
    position: absolute;
    z-index: -1;
    top: -2.5px;
    animation: rotateGradient 2s linear infinite;
  }
}
